<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layouts/layout1}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>BOARD</title>
</head>
<body>
	<th:block layout:fragment="header">
		<div>
			<header>
				<div>
					<h2>Board</h2>
				</div>
				<div>
					<div>
						<a sec:authorize="isAnnonymous()" href="login.html">로그인</a>
						<a sec:authorize="isAuthenticated()" href="logout.html">로그아웃</a>
						<a sec:authorize="isAnnonymous()" href="join.html">회원가입</a>
					</div>
					<div>
						<a sec:authorize="hasRole('USER')">000님 안녕하세요</a>
						<a sec:authorize="hasRole('ADMIN')">000 관리자님 안녕하세요</a>
					</div>
				</div>
			</header>
		</div>
	</th:block>
</body>
</html>