<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{layout}">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>로그인</title>
<th:block layout:fragment="script">
	<script th:inline="javascript">
		// 쿠키를 통해 로그인 아이디 기억
		$(document).ready(function() {
			var inputId = getCookie("inputId");
			var setCookieYN = getCookie("setCookieYN");

			if (setCookieYn == "Y") {
				$("#id_save").prop("checked", true);
				$("#userId").val(inputId);
			} else {
				$("#id_save").prop("checked", false);
			}
			//로그인 버튼 클릭
			$("#loginBtn").click(function() {
				if ($("#id_save").is(":checked")) {
					var userId = $("#userId").val();
					setCookie("inputId", inputId, 60);
					setCookie("setCookieYN", "Y", 60);
				} else {
					deleteCookie("inputId");
					deleteCookie("setCookieYN");
				}
			});
		});
	</script>
</th:block>
</head>
<body>
	<div layout:fragment="content">
		<form action="/login" method="post">
			<div>
				<label th:for="userId">아이디</label> <input type="text"
					placeholder="아이디를 입력해주세요" id="userId" name="userId" /> <label
					th:for="password">비밀번호</label> <input type="text"
					placeholder="비밀번호는 8자 ~ 16자 입니다" id="password" name="password" />
				<p th:if="${loginErrorMsg}" class="error" th:text="${loginErrorMsg}"></p>
				<label><input type="checkbox" name="id_save" id="id_save">아이디
					저장</label>
				<button type="submit" id="loginBtn">로그인</button>
				<span>아직 회원이 아니신가요?</span>
				<button type="button" onclick="location.href='/join'">회원가입</button>
				<span>아이디/비밀번호 찾기</span>
				<button type="button" onclick="location.href='/'">회원정보찾기</button>
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}">
		</form>
	</div>
</body>
</html>